body {
    font-family: Roboto;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px 128px;
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
}

.links {
    display: flex;
    gap: 16px;
}

.hero {
    background-color: #1f2937;
    padding: 64px 128px;
    display: flex;
    gap: 64px;
}

.hero-left,
.hero-right {
    width: 50%;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image {
    background-color: #8c8c8b;
    text-align: center;
    line-height: 300px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    padding: 64px 128px;
}

.card-box {
    display: flex;
    gap: 48px;
    justify-content: center;
    padding-bottom: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    word-wrap: normal;
    width: 150px;
    text-align: center;
    font-size: 14px;
    color: #8c8c8b;
    gap: 8px;
}

.quote-box {
    background-color: #e5e7eb;
    padding: 64px 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote,
.quote-author {
    width: 900px;
    color: #1f2937;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    word-wrap: normal;
    text-align: center;
}

.quote-author {
    text-align: end;
    font-weight: 900;
}

.action-banner {
    background-color: #3882f6;
    margin: 64px 128px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.action-text {
    display: flex;
    flex-direction: column;
    color: #f9faf8;
    margin: 32px 64px;
}

.action-title {
    font-weight: 900;
    font-size: 18px;
}

.action-message {
    font-size: 14px;
}

.action-button-box {
    display: flex;
    align-items: center;
    margin: 32px 64px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0px;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    text-align: center;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    /* border-color: white; */
    margin: 8px 0px;
}

button.hero-button {
    border-style: none;
}

button.action-button {
    border-color: #f9faf8;
    border-style: solid;
}

img {
    border: 4px solid #3882f6;
    width: 150px;
    height: 150px;
    border-radius: 12px;
}
